<!--
  Generated template for the City page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>city</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <input type="text" placeholder="Enter Your City" [(ngModel)]="cityName" (change)="callCity()">
    </ion-item>
    <div class="city-name">
        <ion-list>
            <ion-item>
                <ion-select>
                    <ion-option *ngFor="let item of cityNames" value="{{item.key}}">{{item.locationName}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <!--<p *ngFor="let item of cityNames">{{item.locationName}}</p>-->
    </div>

</ion-content>